.comment_icon_delete::before {
  content: url("data:image/svg+xml,<svg height='.7em' version='1.1' viewBox='0 0 19 23' width='19px' xmlns='http://www.w3.org/2000/svg' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns:xlink='http://www.w3.org/1999/xlink'><title/><defs><path d='M0.501203573,1.96015511 C0.501203573,1.96015511 7.17230047e-07,1.96015511 0,2.96015511 C-4.1525821e-07,3.96015511 0.501203573,3.96015511 0.501203573,3.96015511 L18.4987964,3.96015511 C18.4987964,3.96015511 19,3.96015511 19,2.96015511 C18.9999995,1.96015511 18.4987964,1.96015511 18.4987964,1.96015511 L0.501203573,1.96015511 L0.501203573,1.96015511 Z M0.973754885,4.96015511 L1.97273588,4.96015511 L3.97375489,21.9601551 L14.9737549,21.9601551 L16.9737549,4.96015511 L17.9737549,4.96015511 L15.9737549,22.9601551 L2.97375489,22.9601551 L0.973754885,4.96015511 Z M7.9737549,0.960155108 C6.9737549,0.960155108 6.9737549,1.96015511 6.9737549,1.96015511 L11.9737549,1.96015511 C11.9737549,1.96015511 11.9737549,0.960155108 10.9737549,0.960155108 L7.9737549,0.960155108 L7.9737549,0.960155108 Z M5.9737549,20.9601551 L6.9737549,20.9601551 L5.9737549,4.92304573 L4.97375489,4.92304573 L5.9737549,20.9601551 Z M12.9737549,4.92304573 L11.9737549,20.9601551 L12.9737549,20.9601551 L13.9737549,4.92304573 L12.9737549,4.92304573 L12.9737549,4.92304573 Z M8.9737549,4.92304573 L8.9737549,20.9601551 L9.9737549,20.9601551 L9.9737549,4.92304573 L8.9737549,4.92304573 L8.9737549,4.92304573 Z' id='path-1'/></defs><g fill='none' fill-rule='evenodd' id='miu' stroke='none' stroke-width='1'><g id='editor_trash_delete_recycle_bin_outline_stroke'><use fill='%23000000' fill-rule='evenodd' xlink:href='%23path-1'/><use fill='none' xlink:href='%23path-1'/></g></g></svg>");
}

.comments {
  padding: .5rem;
}
.comments .comments_container {
  display:  table;
  width:    100%;
}
.comments .comment_row {
  display: table-row;
}

.comments .comment_picture {
  display:        table-cell;
  height:         3rem;
  max-width:      3rem;
  min-width:      3rem;
  overflow:       hidden;
  padding-bottom: 0.2rem;
  vertical-align: top;
  width:          3rem;
}
.comments .comment_picture img {
  max-width:  100%;
  max-height: 100%;
}
.comments .comment_picture.unknown_user {
  content: url("data:image/svg+xml,%3Csvg id='svg2' xmlns='http://www.w3.org/2000/svg' height='200' width='200' version='1.0'%3E%3Cpath id='path2382' d='m165.33 113.44a103.61 103.61 0 1 1 -207.22 0 103.61 103.61 0 1 1 207.22 0z' transform='matrix(.93739 0 0 .93739 42.143 -6.3392)' stroke-width='0' fill='%23fff'/%3E%3Cg id='layer1'%3E%3Cpath id='path2413' d='m100 0c-55.2 0-100 44.8-100 100-5.0495e-15 55.2 44.8 100 100 100s100-44.8 100-100-44.8-100-100-100zm0 12.812c48.13 0 87.19 39.058 87.19 87.188s-39.06 87.19-87.19 87.19-87.188-39.06-87.188-87.19 39.058-87.188 87.188-87.188zm1.47 21.25c-5.45 0.03-10.653 0.737-15.282 2.063-4.699 1.346-9.126 3.484-12.876 6.219-3.238 2.362-6.333 5.391-8.687 8.531-4.159 5.549-6.461 11.651-7.063 18.687-0.04 0.468-0.07 0.868-0.062 0.876 0.016 0.016 21.702 2.687 21.812 2.687 0.053 0 0.113-0.234 0.282-0.937 1.941-8.085 5.486-13.521 10.968-16.813 4.32-2.594 9.808-3.612 15.778-2.969 2.74 0.295 5.21 0.96 7.38 2 2.71 1.301 5.18 3.361 6.94 5.813 1.54 2.156 2.46 4.584 2.75 7.312 0.08 0.759 0.05 2.48-0.03 3.219-0.23 1.826-0.7 3.378-1.5 4.969-0.81 1.597-1.48 2.514-2.76 3.812-2.03 2.077-5.18 4.829-10.78 9.407-3.6 2.944-6.04 5.156-8.12 7.343-4.943 5.179-7.191 9.069-8.564 14.719-0.905 3.72-1.256 7.55-1.156 13.19 0.025 1.4 0.062 2.73 0.062 2.97v0.43h21.598l0.03-2.4c0.03-3.27 0.21-5.37 0.56-7.41 0.57-3.27 1.43-5 3.94-7.81 1.6-1.8 3.7-3.76 6.93-6.47 4.77-3.991 8.11-6.99 11.26-10.125 4.91-4.907 7.46-8.26 9.28-12.187 1.43-3.092 2.22-6.166 2.46-9.532 0.06-0.816 0.07-3.03 0-3.968-0.45-7.043-3.1-13.253-8.15-19.032-0.8-0.909-2.78-2.887-3.72-3.718-4.96-4.394-10.69-7.353-17.56-9.094-4.19-1.062-8.23-1.6-13.35-1.75-0.78-0.023-1.59-0.036-2.37-0.032zm-10.908 103.6v22h21.998v-22h-21.998z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.comments .comment_row .commenter_name {
  font-weight: bold;
}

.comments .comment_row .comment {
  vertical-align: top;
  display:        table-cell;
  padding-left:   0.5rem;
  border-bottom:  1px solid lightgrey;
  width:          100%; /* greedy */
}
.comment .comment_created {
  font-size: 70%;
  color:     grey;
}

.comment_preview {
  border: 1px solid lightgrey;
}
.comment textarea {
  width: 100%;
  height: 4em;
}

.comments .comment p:first-child {
  margin-top: 0;
}

.comments .review {
  padding: 5px 0px;
}
.comments .review input {
  display: none;
}
.comments .review span {
  color: #ccc;
  padding: 1px;
  display: inline-block;
}
.comments .review label {
  color: #ccc;
  padding: 1px;
  cursor: pointer;
  display: inline-block;
}
.comments .review .active {
  color: green;
}
.comments .review label:hover {
  color: red;
}

.hidden {
  width: 0;
  height: 0;
  z-index: -1000;
  position: fixed;
  left: -10;
  top: -10;
}

.login {
  z-index: 1000;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 800px;
  max-width: 90%;
  height: 800px;
  max-height: 90%;
  background: white;
  border: 1px solid black;
  padding: .5em;
}

.oratorium_info {
  text-align:  right;
  font-size:   50%;
  font-family: sans-serif;
}

.login_list {
  list-style-type: none;
}

.login_list li {
  height: 2.5em;
  vertical-align: middle;
}

.login_list li :link, .login_list li :visited {
  text-decoration: none;
  color: black;
}

.login_list li img.authicon {
  max-width: 2em;
  max-height: 2em;
  margin-right: .5em;
  vertical-align: middle;
}

.oidc {
  background: url(https://upload.wikimedia.org/wikipedia/en/c/c8/OpenID_logo.svg) no-repeat;
  background-size: contain;
}
.oidc input {
  background: transparent;
}
.oidc input:focus {
  background: white;
}

.edit_options {
  float: right;
}
.edit_options button {
  border: none;
  width: 1rem;
  height: 1rem;
  background: transparent;
}
.edit_options button.comment_delete {
  background: url("data:image/svg+xml,<svg height='.7em' version='1.1' viewBox='0 0 19 23' width='19px' xmlns='http://www.w3.org/2000/svg' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns:xlink='http://www.w3.org/1999/xlink'><title/><defs><path d='M0.501203573,1.96015511 C0.501203573,1.96015511 7.17230047e-07,1.96015511 0,2.96015511 C-4.1525821e-07,3.96015511 0.501203573,3.96015511 0.501203573,3.96015511 L18.4987964,3.96015511 C18.4987964,3.96015511 19,3.96015511 19,2.96015511 C18.9999995,1.96015511 18.4987964,1.96015511 18.4987964,1.96015511 L0.501203573,1.96015511 L0.501203573,1.96015511 Z M0.973754885,4.96015511 L1.97273588,4.96015511 L3.97375489,21.9601551 L14.9737549,21.9601551 L16.9737549,4.96015511 L17.9737549,4.96015511 L15.9737549,22.9601551 L2.97375489,22.9601551 L0.973754885,4.96015511 Z M7.9737549,0.960155108 C6.9737549,0.960155108 6.9737549,1.96015511 6.9737549,1.96015511 L11.9737549,1.96015511 C11.9737549,1.96015511 11.9737549,0.960155108 10.9737549,0.960155108 L7.9737549,0.960155108 L7.9737549,0.960155108 Z M5.9737549,20.9601551 L6.9737549,20.9601551 L5.9737549,4.92304573 L4.97375489,4.92304573 L5.9737549,20.9601551 Z M12.9737549,4.92304573 L11.9737549,20.9601551 L12.9737549,20.9601551 L13.9737549,4.92304573 L12.9737549,4.92304573 L12.9737549,4.92304573 Z M8.9737549,4.92304573 L8.9737549,20.9601551 L9.9737549,20.9601551 L9.9737549,4.92304573 L8.9737549,4.92304573 L8.9737549,4.92304573 Z' id='path-1'/></defs><g fill='none' fill-rule='evenodd' id='miu' stroke='none' stroke-width='1'><g id='editor_trash_delete_recycle_bin_outline_stroke'><use fill='%23000000' fill-rule='evenodd' xlink:href='%23path-1'/><use fill='none' xlink:href='%23path-1'/></g></g></svg>") no-repeat center;
}
